.track-piece {
  position: relative;
  margin-left: var(--square-size);
  cursor: pointer;
}

.track-piece:first-child {
  margin-left: 0;
}

.track-piece--not-selectable {
  filter: grayscale(0.75);
  opacity: 0.3;
  pointer-events: none;
}

.track-piece__costs {
  display: inline-block;
  margin-bottom: 5px;
  background-color: #fff;
  border: 2px solid #ccc;
  padding: 5px;
  font-size: 12px;
}

.track-piece__costs-row:not(:last-child) {
  margin-right: 5px;
}

.track-piece__costs-row--time {
  position: relative;
  padding-right: 10px;
}

.track-piece__costs-row--time::before,
.track-piece__costs-row--time::after {
  content: '';
  position: absolute;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
}

.track-piece__costs-row--time::before {
  top: 3px;
  border-width: 4px 4px 0 4px;
  border-color: var(--button-colour) transparent transparent transparent;
}

.track-piece__costs-row--time::after {
  top: 7px;
  border-width: 0 4px 4px 4px;
  border-color: transparent transparent var(--button-colour) transparent;
}

.track-piece__costs-row--buttons::after {
  content: '';
  display: inline-block;
  width: 0.75em;
  height: 0.75em;
  margin-left: 2px;
  background-color: var(--button-colour);
  border-radius: 50%;
}
