.track {
  margin-top: var(--square-size);
  display: flex;
  align-items: flex-start;
  overflow-x: scroll;
}

.track__make-buttons {
  display: block;
  min-width: 100px;
  padding: 1rem;
  font-size: 1rem;
}
