:root {
  --grid-border-colour: #000;
}

.board {
  position: relative;
  margin-bottom: var(--square-size);
  display: inline-block;
  background: repeating-linear-gradient(45deg, #fff 0, #fff 5px, rgba(0, 255, 0, 0.1) 5px, rgba(0, 255, 0, 0.1) 10px);
}

.board + .board {
  margin-left: calc(2 * var(--square-size));
  background: repeating-linear-gradient(135deg, #fff 0, #fff 5px, rgba(255, 255, 0, 0.2) 5px, rgba(255, 255, 0, 0.2) 10px);
}

.board:not(.board--current) {
  filter: grayscale(0.9);
}

.board__row {
  display: flex;
}

.board__row:first-child .board__cell {
  border-top: 1px solid var(--grid-border-colour);
}

.board__cell {
  position: relative;
  height: var(--square-size);
  width: var(--square-size);
  border-right: 1px solid var(--grid-border-colour);
  border-bottom: 1px solid var(--grid-border-colour);
}

.board__cell:first-child {
  border-left: 1px solid var(--grid-border-colour);
}

.board__cell--has-button:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: var(--button-colour);
}

.board__piece {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
}

.board__buttons {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--square-size);
  width: var(--square-size);
  bottom: calc(var(--square-size) * -1.25);
  background-color: var(--button-colour);
  color: #fff;
  border-radius: 50%;
}

.board__seven-by-seven {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--square-size);
  width: var(--square-size);
  bottom: calc(var(--square-size) * -1.25);
  left: calc(var(--square-size) * 2);
  font-size: 12px;
  background-color: var(--patch-colour);
  color: #fff;
}

.board__final-score {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(var(--square-size) * 4);
  width: calc(var(--square-size) * 4);
  margin-top: calc(var(--square-size) * -2);
  margin-left: calc(var(--square-size) * -2);

  top: 50%;
  left: 50%;
  font-size: 50px;
  background-color: var(--button-colour);
  color: #fff;
}
