:root {
  --grid-border-colour: #000;
}

.player {
  position: relative;
  margin-bottom: var(--square-size);
  display: inline-block;
  background: repeating-linear-gradient(
    45deg,
    #fff 0,
    #fff 5px,
    rgba(0, 255, 0, 0.1) 5px,
    rgba(0, 255, 0, 0.1) 10px
  );
}

.player + .player {
  margin-left: calc(2 * var(--square-size));
  background: repeating-linear-gradient(
    135deg,
    #fff 0,
    #fff 5px,
    rgba(255, 255, 0, 0.2) 5px,
    rgba(255, 255, 0, 0.2) 10px
  );
}

.player:not(.player--current) {
  filter: grayscale(0.9);
}

.player__buttons {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--square-size);
  width: var(--square-size);
  bottom: calc(var(--square-size) * -1.25);
  background-color: var(--button-colour);
  color: #fff;
  border-radius: 50%;
}

.player__seven-by-seven {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--square-size);
  width: var(--square-size);
  bottom: calc(var(--square-size) * -1.25);
  left: calc(var(--square-size) * 2);
  font-size: 12px;
  background-color: var(--patch-colour);
  color: #fff;
}

.player__final-score {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(var(--square-size) * 4);
  width: calc(var(--square-size) * 4);
  margin-top: calc(var(--square-size) * -2);
  margin-left: calc(var(--square-size) * -2);

  top: 50%;
  left: 50%;
  font-size: 50px;
  background-color: var(--button-colour);
  color: #fff;
}
